html, body {
	height: 100%;
	margin: 0; padding: 0;
}
header  {
    height: 90px;
    margin: 0;
    background : #NNNNNN;
}
body {
	display: table;
	width: 100%;
}

footer {
	display: table-row;
	background: #80ff80;
	margin-left: auto;
	margin-right: auto;
}
