<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<meta charset="UTF-8" />
<title>Caribou : Paramètres</title>
<link rel="stylesheet" href="/css/hello.css" />
<!-- <script>
	function rempVar() {
		var x = document.forms["formParam"]["choixAgent"].value;
	      if (x==-1) {
	          document.getElementById("matcher").innerHTML = "";
	      } else {
	          document.getElementById("matcher").innerHTML = <?php echo json_encode($tabAff); ?>[x];
	      }

		document.getElementbyId("regexDebut").text = 
	}
</script> -->
</head>
<body>

	<div layout:fragment="content">
		<h1>Modifier les paramètres de détection des logs</h1>

		<h3
			th:text="${changement} ? 'Les valeurs ont bien été modifiées' : ''"></h3>
		<h3 th:text="${error_message}"></h3>

	</div>



	<form name="formParam"
		th:action="@{/agents/modifParam(agent=${selectedAgent},regexDebut=${regexDebut},regexFin=${regexFin},tpsVieMinStock=${TpsVieMinStock},nbLignesLog=${nbLignesLog})}"
		th:with="agent=${selectedAgent},regexDebut=${regexDebut},regexFin=${regexFin},tpsVieMinStock=${tpsVieMinStock},nbLignesLog=${nbLignesLog}"
		method="get">
		<!-- action="#" -->
		<select size="1" name="choixAgent" th:field="*{selectedAgent}"
			th:onclick="
		regexDebut=${agents.get(${selectedAgent}).getRegexDebutLog()},
		regexFin=${agents.get(${selectedAgent}).getRegexFinLog()},
		tpsVieMinStock=${agents.get(${selectedAgent}).getRegexDebutLog()},
		nbLignesLog=${agents.get(${selectedAgent}).getRegexDebutLog()}">
			<option th:each="agent : ${agents}" th:value="${agent.getId()}"
				th:text="${agent.getId()}">Wireframe</option>
		</select>
		<h4>Veuillez indiquer l'expression de début de log</h4>
		<br /> <input type="text" id="regexDebut" th:value="*{regexDebut}" /><br />
		<h4>Veuillez indiquer l'expression de fin de log si nécessaire</h4>
		<br /> <input type="text" id="regexFin" name="regexFin"
			th:value="*{regexFin}" /> <br />
		<h4>Veuillez indiquer la durée (en ms) d'attente des logs</h4>
		<br /> <input type="text" id="tpsVieMinStock" name="tpsVieMinStock"
			th:value="*{tpsVieMinStock}" /> <br />
		<h4>Veuillez indiquer la taille maximale attendue des logs</h4>
		<br /> <input type="text" id="nbLignesLog" name="nbLignesLog"
			th:value="*{nbLignesLog}" /> <br /> <br />

		<button type="submit">Mettre à jour les paramètres</button>
	</form>

	<!-- <form
		th:action="@{/agents/modifParam(regexDebut=${regexDebut},regexFin=${regexFin},tpsVieMinStock=${TpsVieMinStock},nbLignesLog=${nbLignesLog})}"
		th:with="regexDebut=${regexDebut},regexFin=${regexFin},tpsVieMinStock=${tpsVieMinStock},nbLignesLog=${nbLignesLog}"
		method="get">
		action="#"
		Veuillez indiquer l'expression de début de log <br /> <input
			type="text" name="regexDebut" th:value="*{regexDebut}" /><br />
		Veuillez indiquer l'expression de fin de log si nécessaire <br /> <input
			type="text" id="regexFin" name="regexFin" th:value="*{regexFin}" />
		<br /> Veuillez indiquer la durée (en ms) d'attente des logs <br />
		<input type="text" id="tpsVieMinStock" name="tpsVieMinStock"
			th:value="*{tpsVieMinStock}" /> <br /> Veuillez indiquer la taille
		maximale attendue des logs <br /> <input type="text" id="nbLignesLog"
			name="nbLignesLog" th:value="*{nbLignesLog}" /> <br /> <br />
		<button type="submit">Mettre à jour les paramètres</button>
	</form> -->
	<br />
	<br />
	<br />
</body>

</html>