<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<meta charset="UTF-8" />
<title>Caribou : Paramètres</title>
<link rel="stylesheet" href="/css/hello.css" />
<style th:include="fragments/general :: mystyle">...
</style>

</head>

<body>

	<div th:replace="fragments/general :: header">...</div>

	<div layout:fragment="content">
		<h1>Sélectionnez l'agent que vous voulez paramétrer</h1>
	</div>

	<br />
	<br />

	<div th:replace="fragments/monitors :: selectionner">...</div>

	<br />
	<br />
	
	<div th:replace="fragments/general :: footer">...</div>
</body>

</html>