<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="'Les vues'">Spring 4 MVC</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<p>
<!-- 			<span th:text="#{ID}">ID</span>
			<span th:text="${log.getID()}" /></span>
			<span th:text="#{Date}">Date</span>
			<span th:text="${log.getDate()}" /></span>
			<span th:text="#{hostname}">hostname</span>
			<span th:text="${log.getHostname()}" /></span>			
			<span th:text="#{facility}">facility</span>
			<span th:text="${log.getFacility()}" /></span>					
			<span th:text="#{facility}">facility</span>
			<span th:text="${log.getFacility()}" /></span>
			<span th:text="#{severitylvl}">severitylvl</span>
			<span th:text="${log.getSeverityLvl()}" /></span> -->
			<span th:text="#{log.data}">data</span>
			<span th:text="${log.getMSG()}" /></span>
		</p>		
<h2 th:text="'Les vues dans Spring MVC'">.</h2>
</body>
 </html>