<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>

</head>
<body>
	<div th:fragment="header">
		<header>
			<div class="topnav">
				<a class="active" href="/">Home</a> 
				<a href="/agents/modifParam">Agents</a>
				<a href="/AffLogs/afficher_listes_logs">Visualiser les logs</a>
			</div>
		</header>
	</div>
	<div th:fragment="footer">
		<footer>
			By Corentin Lafond & Leonard Mommeja <br /> 
			dans le cadre de leur stage chez Vermeg
		</footer>
	</div>
</body>
</html>