<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<meta charset="UTF-8" />
<title>Caribou : Paramètres</title>
<link rel="stylesheet" href="/css/hello.css" />


</head>

<body>

	<div th:replace="fragments/general :: header">...</div>

	<h1>Une erreur est survenue</h1>

	<br />
	<br />
	<br />
	<div>
		<h3 th:text="${message}">...</h3>
		<br /> <br />
		<p>
			Afin de remédier à ce problème vous devriez suivre <a
				th:href="@{${sortie}}">ce lien</a>.
	</div>


	<div th:replace="fragments/general :: footer">...</div>
</body>

</html>