<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>titre de la page index thymeleaf</title>
        <link rel="stylesheet" href="/css/hello.css"/>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Bienvenue dans l'application web de monitoring des microservices </h1>
<!--             <p>Get your greeting <a href="/greeting">here</a></p>
            <p>Affiche un <a href="/afficherUnLog">log</a></p>
            <p>Affiche la <a href="/listeLogs"> liste des logs </a></p> -->
         
        </div>
         <form th:action="@{/listeLogs(filter=${filter},datebeginning=${datebeginning},sdateend=${dateend})}" th:with="filter=${filter}, datebeginning=${datebeginning}, dateend=${dateend}"  method="get"> <!-- action="#" -->
   <!--  <form th:action="@{/listeLogs(filter=${filter)(datebeginning=${datebeginning})(dateend=${dateend})" th:object="${listeLogs}"  method="get"> action="#" -->
   			Veuillez choisir la date de début de la recherche <br/>
            <input type="text"  name="datebeginning" th:value="*{datebeginning}" /><br/>
            Veuillez choisir la date de fin de la recherche <br/>
 			<input type="text" id="dateend" name="dateend" th:value="*{dateend}" />   <br/>
 			Sélectionnez un ou plusieurs filtres <br/>
        	<select  size="4" name="filter" multiple="multiple">
			 	<option selected="selected" value="noFilter">noFilter</option>
			 	<option value="dateFilter">dateFilter</option>
			 	<option value="severityLvlFilter">severityFilter</option>
			 	<option value="hostnameFilter">hostnameFilter</option>
			</select>
			<br/>	
        	<button  type="submit"> Veuillez choisir le type de filtre voulu</button>
    	</form>
    </body>
    
</html>