<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Liste des logs</title>
<!--         <link rel="stylesheet" th:href="@{/css/style.css}" />
 -->
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<style>
table {
	border: medium solid #000000;
	width: 50%;
}

td, th {
	border: thin solid #6495ed;
	width: 50%;
}
</style>
<body>
	<h2>Liste des logs</h2>
 	<form action="/">
		<input type="submit" value="Acceuil" />
	</form>
	<form action="/AffLogs/parametres_recherche">
		<input type="submit" value="Nouvelle Recherche">
	</form> <!--
	<span th:text="${selectedfilters.toString()}"></span> est le filtre
	sélectionné
	<br />
	<span th:text="${datebeginning} ?: 'début par défaut'"></span> est la
	date de début sélectionné
	<br />
	<span th:text="${dateend} ?: 'fin par défaut'"></span> est la date de
	fin sélectionné
	<br /> -->
<!-- 	<form
		th:action="@{/AffLogs/afficher_listes_logs/afficherUnLog(idlog=${idlog})}"
		th:with="idlog=${idlog}" method="get">
		action="#"
		Sélectionnez l'id d'une queue de log à voir en particulier <br /> <input
			type="text" name="idlog" th:value="*{idlog}" /><br />
		<button type="submit">afficher un Log</button>
	</form>

<!-- TODO Demain essayer de faire un for de span-->
	<br>
 	<table>
 		<tr>
		<th th:each="data : *{availabledata}">
			<p th:inline="text">[[${data}]]</p>
		</tr>
		<tr th:each="log : *{logs}">
		<td th:each="elt : ${log}">
			<p th:inline="text">[[${elt}]]</p>
		</td>
		</tr>
	</table>
</body>
</html>