<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<title>Gestion des parametres de recherche</title>
</head>
<style th:include="fragments/general :: mystyle">...
</style>
<body>
	<h2>MENU DE SELECTION DES PARAMETRES DE RECHERCHE</h2>
	<form
		th:action="@{/AffLogs/afficher_listes_logs(selectedregexp=${selectedregexp})}"
		th:with="selectedregexp=${selectedregexp}"
		method="get">
		Selectionnez l'expression régulière à recherche dans le message des Logs contenus dans la BDD <br /> 
		<input 
			type="text" name="selectedregexp" th:value="*{selectedregexp}" /><br /> 
		<button type="submit">Mettre à jour les paramètres</button>
	</form>
</body>
</html>